<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Recommended</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <h5>PHP Programming</h5>
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7TF00hJI78Y"></iframe>
          </div>
        </div>
      </div>
     <hr />
    </div>
  </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> stars</li>
        <li><i class="ion-fork-repo"></i> forks</li>
        <li><i class="ion-pull-request"></i> issues</li>
      </ul>
    </div>
  </div>
</div>
<div class="text-center">
  <a class="btn btn-default" href="https://github.com/irokhes/angular-node-video"><i class="ion-social-github"></i> GitHub project</a>
  <a class="btn btn-default" href="https://github.com/irokhes/angular-node-video/issues/new"><i class="ion-bug"></i> Report issue</a>
</div>
</div>